.contactsBlock{
    min-height: 60vh;
    background-color: lightgoldenrodyellow;

}
.contactsContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.title{
    background-color: maroon;
}
.input{
    margin: 5px;
    min-width: 250px;
}
.textarea{
    margin: 5px;
    min-width: 250px;
}
.button{
    background-color: chocolate;
    margin: 10px;
}